<!-- <input #box placeholder="digite um nome" (keyup)="buscar(box.value)">

<ul>
  <li *ngFor="let nome of nomesFiltrados, let i = index">
    Nome da pessoa é: {{nome}}, está na posição {{i + 1}}
  </li>
</ul>
<p *ngIf="nomes.length == 0">Nenhum nome encontrado, usando *ngIf</p>

<p [hidden]="nomes.length > 0">Nenhum nome encontrado, usando hidden</p> -->

<p>Salario total: {{getValorTotal()}}</p>

<input #parametroid placeholder="digite um id">
<button (click)="buscarId(parametroid.value)">Buscar id</button>
<p *ngIf="retorno != undefined">{{retorno.id}} - {{retorno.nome}}</p>
<br>
<input #percentual placeholder="digite o percentual">
<button (click)="aumentarSalario(percentual.value)">Aumentar salario</button>
<p>{{verificarSalario(200)?'Todo mundo ganha mais que 200': 'nem todo mundo ganha mais que 200'}} </p>
<br>
<input #criterio placeholder="digite um criterio de busca" (keyup)="resposta = buscaCampos(criterio.value)">
<ul *ngFor="let r of resposta">
  <li>{{r.id}} - {{r.nome}} - {{r.salario}}</li>
</ul>